@import "tailwindcss";

@theme {
  --color-brand-green: #81c995;
  --color-brand-red: #F28B82;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: "Google Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  background-color: #202124;
  color: #e8eaed;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}